/* DEFININDO VARIÃVEIS DE CSS */

/* Primary Colors */
$blue: #18336A;
$blue-light: #214692;
$blue-dark: #11244B;
$gray: #C4C4C4;
$gray-light: #D9D9D9;
$gray-dark: #A6A6A6;

/* Auxiliary Colors */
$red: #F93B3B;
$red-light: #FA5757;
$red-dark: #F82121;
$green: #32D957;
$green-light: #4FDE6E;
$green-dark: #1d9637;
$yellow: #FFCE52;
$yellow-light: #FFD875;
$yellow-dark: #FFC42E;

/* White/Black Colors */
$white: #EBEEF3;
$white-light: #F9F9FB;
$white-dark: #CFD5E3;
$black: #2B2B2B;
$black-light: #3B3B3B;
$black-dark: #1A1A1A;

/* Gradient Colors */
$gradient-blue: linear-gradient(90deg, #18336A 28.98%, #001752 77.76%);
$gradient-blue-light: linear-gradient(90deg, #18336A 28.98%, #2A54AA 77.76%);


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* LOGIN PAGE */
body#login-page {
    background-color: #FFF !important;

    main {
        width: 100%;
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .login-image {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .login-form {
        background: $gradient-blue;
        height: 100vh;
        
        display: flex;
        align-items: center;
        justify-content: center;

        .login-card {
            width: 100%;

            .login-card-title {
                color: $white-light;
                text-align: center;
            }

            .login-form-group {
                padding: 0 20%;
                margin-top: 32px;

                .form-group {
                    margin-top: 16px;
                }

                label {
                    color: $white-dark;
                    font-weight: bold;
                }
            }


            .btn-login {
                margin-top: 16px;
                padding: 16px 32px;
                background-color: $blue-light;
                text-align: center;
                width: 100%;
                font-weight: bold;
                color: #FFF;

                &:hover {
                    background-color: $blue-dark;  
                }
            }

        }
    }
}


input[type="radio"]:checked + label{
    background: red;
    color: #FFF;
}

.viewReservationOwner {
    display: block;
}

.editReservationOwner {
    display: none;
}


body#home-admin-panel {

    header {
        position: fixed;
        background: $gradient-blue;
        padding: 10px;
        width: 100%;
        height: 60px;

        .icon-menu {
            width: 100%;
            text-align: left;

            label {
                width: 25px;
                height: 25px;
            }
        }
    }

    .sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        margin-top: 60px;
        padding-top: 30px;
        left: 0;
        background: $gradient-blue;
        transition: .5s;
        transition-property: left;

        .center {
            text-align: center;
        }

    }

    .sidebar .image {
        width: 100px;
        height: 100px;
        margin-bottom: 16px;
    }

    .sidebar h4 {
        color: #CCC;
        margin-top: 0;
        margin-bottom: 24px;
    }

    .sidebar a {
        color: #FFF;
        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 40px;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    
        &:hover {
            background: #51b3ec;
        }
    }

    .sidebar ion-icon {
        padding-right: 10px;
    }

    label #sidebar-btn {
        z-index: 1;
        position: fixed;
        color: #FFF;
        font-size: 25px;
        margin: 5px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    
        &:hover {
            color: #51b3ec;
        }
    }

    #check:checked ~ .sidebar {
        left: -190px;

        a span {
            display: none;
        }

        h4 {
            display: none;
        }

        a {
            font-size: 20px;
            margin-left: 170px;
            width: 80px;
        }
    }
    
    .content {
        width: 100%;
        height: 85vh;
        transition: .5s;
        padding-top: 75px;
        padding-left: 266px;
    }

    #check:checked ~ .content {
        margin-left: 60px;
        padding-left: 16px;
    }

    #check{
        display: none;
    }
}

#calendar {
    padding: 16px 24px;

    .fc-day-today {
        background-color: $white-dark;
    }

    .fc-daygrid-day-number {
        color: $blue;
        font-weight: bold;
        text-decoration: none;
    }

    .fc {
        border-radius: 8px 8px 0 0;
    }

    .fc-toolbar-title {
        text-transform: uppercase;
        color: $blue;
        font-weight: bold;
    }

    .fc-button-primary {
        background: $gradient-blue-light;
        border-radius: 8px;
        border: none;
    }

    .fc--button {
        display: none;
    }

    .fc-scrollgrid {

        thead {
            background-color: $blue;

            .fc-col-header{
                border-radius: 8px 8px 0 0;
            }

            .fc-col-header-cell {
                padding: 16px;

                
            }

            .fc-col-header-cell-cushion  {
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    
}

a.fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-start.fc-event-end.fc-event-future {
    position: relative;
    overflow: hidden;

    >div:not(.fc-daygrid-event-dot){
        z-index: 1;
    }

    .fc-event-time {
        padding-left: 5px;
        font-weight: bold;
    }

    .fc-event-title {
        font-weight: normal;
    }

    .fc-daygrid-event-dot {
        position: absolute;
        border-width: 1000px;
        left: -500px;
    }

}


.fc-daygrid-event {
    color: #2B2B2B !important; 
}

.fc-daygrid-event-harness {
    background-color: #2B2B2B;
    color: #2B2B2B !important;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;

    &:hover {
    color: #2B2B2B;
    }
}


.fc-daygrid-event-dot, .fc-event-time, .fc-event-title {
    color: #FFF !important;
}

.fc-col-header-cell-cushion {
    text-decoration: none;
    color: #2b2b85;
    font-weight: bold;
    text-transform: uppercase;
}

.fc-toolbar-title {
    text-transform: uppercase;
    color: #2b2b85;
    font-weight: bold;

}

.fc-daygrid-day-number {
    text-decoration: none;
    color: #2B2B2B;
    font-weight: bold;
}