@charset "UTF-8";
/* DEFININDO VARIÁVEIS DE CSS */
/* Primary Colors */
/* Auxiliary Colors */
/* White/Black Colors */
/* Gradient Colors */
.btn-primary-blue {
  box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  font-size: 1em;
  background-color: linear-gradient(90deg, #18336A 28.98%, #2A54AA 77.76%);
}
.btn-primary-blue:hover {
  background-color: linear-gradient(90deg, #18336A 28.98%, #001752 77.76%);
}

.btn-secondary-blue {
  box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  font-size: 1em;
  background-color: #EBEEF3;
  border: 1px solid linear-gradient(90deg, #18336A 28.98%, #001752 77.76%);
}
.btn-secondary-blue:hover {
  background-color: linear-gradient(90deg, #18336A 28.98%, #2A54AA 77.76%);
}

.btn-excel {
  background-color: #1d9637;
  padding: 8px 6px;
  border-radius: 8px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-excel:hover {
  background-color: #32D957;
}

input, select, textarea {
  background-color: #EBEEF3;
  border-radius: 16px;
}

.form-success {
  border: 2.5px solid #32D957;
}

.form-error {
  border: 2.5px solid #F93B3B;
}

input:focus, select:focus, textarea:focus {
  border: 2.5px solid linear-gradient(90deg, #18336A 28.98%, #2A54AA 77.76%);
}

option:hover {
  background-color: #CFD5E3;
}

.body-index {
  width: 100%;
  height: 100vh;
  background-color: #11244B;
  position: relative;
  margin: 0;
}

.index-header {
  width: 100%;
  padding-top: 16px;
}

.img-index, .svg-index {
  display: block;
  width: 100%;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.highlight {
  max-width: 1440px;
  margin: 0 auto;
  height: 85vh;
}

.nav-list {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.logo {
  max-width: 88px;
}

.nav-link {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative; /* Quando um elemento está com position relative, seus filhos caso
sejam absolutos, ficarão absolutos em relação a tag father */
  color: #CFD5E3;
  transition: 0.7s ease;
}
.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  width: 2px;
  height: 0px;
  transform: rotate(-180deg);
  background: linear-gradient(180.01deg, #1a60eb 0.01%, rgba(40, 207, 236, 0) 100%);
  transition: 0.7s ease;
}
.nav-link:hover {
  color: #F9F9FB;
}
.nav-link:hover::after {
  height: 40px;
}

.hamburguer {
  display: none;
  width: 48px;
  height: 48px;
  background-color: #EBEEF3;
  border-radius: 8px;
}
@media screen and (max-width: 960px) {
  .hamburguer {
    display: block;
  }
}

.nav-social {
  display: flex;
}
.nav-social svg {
  cursor: pointer;
  margin-left: 16px;
  width: 24px;
}
.nav-social svg path, .nav-social svg circle {
  transition: 0.7s ease;
}
.nav-social svg:hover path, .nav-social svg:hover circle {
  fill: #F9F9FB;
  transform: translate3d(0, -3px, 0);
}
@media screen and (max-width: 960px) {
  .nav-social {
    display: none;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 85vh;
  padding: 36px 16px;
  display: flex;
  align-items: center;
  overflow: none;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
}

.highlight-text {
  max-width: 576px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
}
.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(101.47deg, #11244B 26.38%, rgba(10, 12, 16, 0.8) 50.07%, #18336A 73.17%);
}

.highlight-title {
  color: #EBEEF3;
  font-family: "Ubuntu", sans-serif;
  font-size: 4em;
  margin: 0;
  margin-bottom: 24px;
}

.highlight-desc {
  color: #EBEEF3;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0;
}

.bg-loader {
  width: 100%;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(225deg, #11244B 0%, #18336A 100%);
  overflow: hidden;
}

.logo-supportcenter {
  fill: transparent;
  -webkit-animation: logo-supportcenter 12s ease infinite alternate;
          animation: logo-supportcenter 12s ease infinite alternate;
}

@-webkit-keyframes logo-supportcenter {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #CFD5E3;
  }
}

@keyframes logo-supportcenter {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #CFD5E3;
  }
}
/* COLABORATORS */
.cds-title {
  font-weight: bold;
  color: #18336A;
}

.table-cds {
  margin-top: 24px;
}
.table-cds .thead-table {
  text-align: center;
  border-style: hidden;
  background-color: #18336A;
}
.table-cds .thead-table .th-title {
  border-style: hidden;
  font-weight: bold;
  text-transform: uppercase;
  color: #EBEEF3;
}
.table-cds .thead-table .th-title:first-of-type {
  border-top-left-radius: 8px;
}
.table-cds .thead-table .th-title:last-of-type {
  border-top-right-radius: 8px;
}
.table-cds .thead-table .th-search {
  border-style: hidden;
  padding: 8px 24px;
}
.table-cds .tbody-table {
  text-align: center;
}
.table-cds .tbody-table tr:nth-child(odd) {
  background-color: #EBEEF3;
}
.table-cds .tbody-table tr:nth-child(even) {
  background-color: #CFD5E3;
}
.div-intro {
  text-align: center;
}

.header {
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #18336A 28.98%, #001752 77.76%);
  box-shadow: 2px 3px 10px 4px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  z-index: 999;
}
.header .navbar {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header .logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
}
.header .logo a {
  color: #EBEEF3;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
.header .hamburguer {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: block;
}
.header .hamburguer:after {
  content: "";
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 5%;
  border-radius: 5px;
  background-color: #EBEEF3;
  transition: 1s ease;
}
.header .hamburguer:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 15%;
  width: 70%;
  height: 5%;
  border-radius: 5px;
  background-color: #EBEEF3;
  transition: 1s ease;
}
.header .menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.header .menu li {
  margin-left: 10px;
}
.header .menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #CCC;
  transition: 0.5s ease;
}
.header .menu li a:hover {
  color: #FFF;
}
.header .hamburguer {
  display: block;
  z-index: 999;
}
.header .menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  background-color: #11244B;
  margin: 0;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  transition: 0.5s ease;
  padding: 100px 20px;
}
.header .menu.active {
  right: 0;
}
.header .hamburguer.active:after {
  transform: rotate(225deg);
  top: 35%;
}
.header .hamburguer.active:before {
  top: 35%;
  transform: rotate(-225deg);
}

.companys .card-list .card {
  border: none;
  padding: 0 16px;
}
.companys .card-list .card .card-body {
  background: linear-gradient(90deg, #18336A 28.98%, #001752 77.76%);
  border-radius: 8px 8px 0 0;
  color: #EBEEF3;
  text-align: center;
}
.companys .card-list .card .card-body .card-title {
  text-transform: uppercase;
}
.companys .card-list .card .list-group-item {
  padding: 16px 24px;
}
.companys .card-list .card .list-group-item:nth-child(odd) {
  background-color: #EBEEF3;
}
.companys .card-list .card .list-group-item:nth-child(even) {
  background-color: #CFD5E3;
}

.companys .card-list .card-company {
  margin-top: 24px;
}

.system-errors .system-errors-title .errors-title {
  text-align: center;
  color: #18336A;
  font-weight: bold;
}
.system-errors .system-errors-title .errors-description {
  color: #18336A;
  text-align: center;
}

.page .page-info .page-title {
  color: #18336A;
  font-weight: bold;
  text-align: center;
  position: relative;
}/*# sourceMappingURL=style.css.map */